/*
 * £ukasz Witaszek
 * Copyright 2017 web.witaszki.pl
 */
 
.img-responsive {
	margin-left: auto;
    margin-right: auto;
}

.section-heading-spacer-wide {
    float: center;
    width: auto;
    border-top: 3px solid #e7e7e7;
}

.content-section-b-small {
    padding: 5px 0;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

.topnav {
    font-size: 20px; 
	padding: 2px 0;
}

.topnav a {
    font-size: 20px; 
	padding: 15px 0;
	margin-left: 0;
}

.modal-init-header {
	padding-bottom:  20px;
}

a {
	font-size: 18px;
}